{% load i18n %} {% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    {% endblock %}
    {% block js %}
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
     <script type="text/javascript">
     $(document).ready(function(){
     $('#gen_description').attr('disabled', 'disabled');
     $('#store_description').attr('disabled', 'disabled');
     $('#sent_description').attr('disabled', 'disabled');
     $('.datepicker').datepicker({
       format: 'yyyy-mm-dd'
     });
     $('#gen_category').change(function(){
        $('#gen_description').empty();
        $('#gen_description').removeAttr('disabled');
        cat_id = $(this).val();
        var request_url = '/get_description/?cat_id=' + cat_id;
        $.ajax({
        url: request_url,
        datatype: 'json',
        success: function(data){
            $.each(JSON.parse(data), function(key,value) {
                $('#gen_description').append('<option value="' + key + '">' + value + '</option>');
                    });
            }
       })
     })
     $('#store_category').change(function(){
        $('#store_description').empty();
        $('#store_description').removeAttr('disabled');
        cat_id = $(this).val();
        var request_url = '/get_description/?cat_id=' + cat_id;
        $.ajax({
        url: request_url,
        datatype: 'json',
        success: function(data){
            $.each(JSON.parse(data), function(key,value) {
                $('#store_description').append('<option value="' + key + '">' + value + '</option>');
                    });
            }
       })
     })
     $('#sent_category').change(function(){
        $('#sent_description').empty();
        $('#sent_description').removeAttr('disabled');
        cat_id = $(this).val();
        var request_url = '/get_description/?cat_id=' + cat_id;
        $.ajax({
        url: request_url,
        datatype: 'json',
        success: function(data){
            $.each(JSON.parse(data), function(key,value) {
                $('#sent_description').append('<option value="' + key + '">' + value + '</option>');
                    });
            }
       })
     })
 });
     </script>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/offcanvas.css' %}" >
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 

</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href='#'>GNDEC</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href='{% url 'waste.src.views.main_form' %}'>Manage Waste</a></li>
            <li><a href='{% url 'waste.src.views.add_selection' %}'>Add Selections</a></li>
            <li><a href='{% url 'waste.src.views.add_profile' %}'>Profile</a></li>
            <li><a href='{% url 'waste.src.views.date_form' %}'>Report</a></li>
            <li><a href='{% url 'admin:password_change' %}'>Change Password</a></li>
            <li><a href='{% url 'admin:logout' %}'>Logout</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
    <div class="container">
        
    {% block content %}
    {% endblock %}
</div>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

    <script src="{% static 'js/offcanvas.js' %}"></script>
</body>
</html>