{% load i18n %} {% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    {% endblock %}
    {% block js %}
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'>
        </script>
     
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/report.css' %}">

</head>
<body>
    <div class="container-report">
        
    {% block content %}
    {% endblock %}
</div>
</body>
