{% extends "base.html" %}
{% load i18n admin_static %}
{% block title %}
<title>Password Reset</title>
{% endblock %}
{% block content %}
	<div class='form-container'>

<form action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    
{% endif %}
<div class='form-container-pass'>
	<h2 id='form-header'>Password Reset</h2>
	<br>
<fieldset class="module aligned wide">
<table>
	<tr>
<div class="form-row">
   <th> <label for="id_old_password" class="required">{% trans 'Old password' %}:</label></th>
   <td>{{ form.old_password }}</td>
</div>
</tr>
<tr>
<div class="form-row">
    <td><label for="id_new_password1" class="required">{% trans 'New password' %}:</label></td>
    <td>{{ form.new_password1 }}</td>
</div>
</tr>
<tr>
<div class="form-row">
    <td><label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label></td>
    <td>{{ form.new_password2}}</td>

</div>
</tr>
</table>

</fieldset>
<br>
<input type="submit" class="btn btn-info btn-large" value="Change Password">
</div>
<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>

{% endblock %}
