{% extends 'report_base.html' %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>
            Report
        </title> 
    {% endblock %}
</head>
<body>
	{% block content %}
	<div class='branding-report'>

		<h4>Records Of E-Waste Handeled/Generated</h4>
	</div>
<table class='report' border='1px'>
	<tr>
		<th>Name & Address</th>
		<td>{{org}}<br>{{add}}</td>
	</tr>
	<tr>
		<th >Total E-Waste Generated</th>
		<td><table class='report-in'>

			{% for value in waste_generated %}
			<tr>
				<td><b>Category</b><br><p>{{value.category.category}}</p></td>
				<td><b>Quantity</b><br><p>{{value.total}} Kg</p></td>
			</tr>
			<tr>
				<td colspan="2"><b>Description</b><br>{% for item in value.desc %}
					<p>{{forloop.counter}}. {{item}}</p>{% endfor %}</td>
			</tr>
			{% endfor %}
		</table>

				</td>
	</tr>
	<tr>
		<th>Total E-Waste Stored</th>
		<td><table class='report-in'>
			{% for value in waste_stored %}
			<tr>
				<td><b>Category</b><br><p>{{value.category.category}}</p></td>
				<td><b>Quantity</b><br><p>{{value.total}} Kg</p></td>
			</tr>
			<tr>
				<td colspan="2"><b>Description</b><br>{% for item in value.desc %}
					<p>{{forloop.counter}}. {{item}}</p>{% endfor %}</td>
			</tr>
			{% endfor %}
		</table>

				</td>
	</tr>
	<tr>
		<th>Total E-Waste Sent to Recycler</th>
		<td><table class='report-in'>
			{% for value in waste_sent %}
			<tr>
				<td><b>Category</b><br><p>{{value.category.category}}</p></td>
				<td><b>Quantity</b><br><p>{{value.total}} Kg</p></td>
			</tr>
			<tr>
				<td colspan="2"><b>Description</b><br>{% for item in value.desc %}
					<p>{{forloop.counter}}. {{item}}</p>{% endfor %}</td>
			</tr>
			{% endfor %}
		</table>

				</td>
	</tr>
</table>
{% endblock %}
</body>
</html>