{% extends 'base.html' %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>
            Add Selection
        </title> 
    {% endblock %}
</head>
<body>
	{% block content %}

	<div class='form-container'>
        {% if form_redirected == 1 %}
        <h4 class="text-danger" >Before starting waste management, please select categories in which you deal</h4>
        {% endif %}
	<form role="form" method="POST" action='{% url 'waste.src.views.add_selection' %}'>
		            {% csrf_token %}
<table>
<tr>
<td>
Select Date
</td>
<td>
<input type="text" class="datepicker" name="date">
</td>
</tr>
</table>

    <div class="form-group">{{form}}</div>
    <input type="submit" class="btn btn-info btn-large" value="Submit">
</form>

</div>
    {% endblock %}
</body>